
.bag-container {
    .disc-type {
        font-weight: bold;
        color: rgb(70, 70, 70);
        float: left;
    }

    .distance-header {
        background-color: #efdcdc;
    }

    .fairway-header {
        background-color: #dbf0db;
    }

    .midrange-header {
        background-color: #d2d2f9;
    }

    .putter-header {
        background-color: #ccf9ff
    }
}