
.bag-container {
    .bag-title {
        border-bottom: 1px solid grey;
        font-weight: bolder;
        font-size: larger;
        padding: 5px 0;
    }

    .disc-type {
        font-weight: bold;
        color: rgb(70, 70, 70);
        float: left;
    }

    .distance-header {
        background-color: #efdcdc;
    }

    .fairway-header {
        background-color: #dbf0db;
    }

    .midrange-header {
        background-color: #d2d2f9;
    }

    .putter-header {
        background-color: #ccf9ff
    }
}