.display-options {
    display: grid;
    grid-template-columns: 1.5fr 3fr;

    .display-options-item {
        // padding: 20px 0;
        padding-top: 20px;
    }

    .item1, .item3, .item5, .item7 {
        grid-column: 1 / 2;
    }

    .item2, .item4, .item6, .item8 {
        grid-column: 2 / 3;
    }
}