.display-options {
    display: flex;
    text-align: center;

    .display-options-item {
        padding: 20px 0;
        padding-top: 20px;
    }

    .item1 {
        flex-grow: 1;
    }

    .item2 {
        flex-grow: 4;
        display: flex;

        .path-per-disc-title {
            flex-grow: 1;
        }

        .path-per-disc-select { 
            flex-grow: 5;
            margin-top: -8px;
        }
    }

    .item3 {
        flex-grow:1;
    }

    .item4 {
        flex-grow: 1;
    }
}