.App-header {
    background-color: $grey02;
    padding: 10px;
    color: $grey15;
    grid-column: 1 / 2;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.pageTitle-header {
    font-size: 1.25em;
    color: $blue13;
}

.lower {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100%;
}

.sidebar {
    width: 60px;
    min-width: 60px; // prevent sidebar from shrinking on small screens
    background-color: $grey01;
}

.main-container {
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
    height: 100%
}

.header-image {
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid $grey15;
}

.list-accordion { padding: 0; }

ul.list-accordion {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.nav-image {
    opacity: 1;

    a {
        color: $grey15;
        text-decoration: none;
    }

    a img {
        top: 7px;
        left: 5px;
        width: 40px;
        height: 40px;
        padding: 4px;
        position: inherit;
    }

    &:hover {
      background-color: $grey02;
      text-decoration: underline;
    }
}

.help-request {
    color: $grey06;

    &:visited {
        color: $grey08;
    }
}

.grid-container {
    display: inline-grid;
    grid-column-gap: 5px;
    grid-template-columns: auto auto;

    .grid-item {
        border: $grey04 solid 1px;
    }

    .grid-item-credits {
        grid-column: 1 / 2;
        padding: 10px 0;
    }

    .grid-item-menu {
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
    }
    
    .grid-item1 {
        grid-column: 1 / 2;
    
        .splineCanvas {
            border: 1px solid $grey00;
            padding: 10px;
        }
    }
    
    .grid-item2 {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;

        .bag-item3 {
            align-self: center;
        }
    }
}

.disc-bag-table {
    width: 100%;
}

.ReactTable {
    .rt-noData {
        display: none;
    }

    .rt-td {
    font-size: smaller;
    padding: 2px 2px;
    }
}

.pdgaApproval {
    font-size: x-small;
    height: 20px;
    margin: -5px;
    padding-left: 20px;
}

.zoomButtons {
    margin-top: 15px;
    margin-left: 15px;
    background-color: $grey06;
    opacity: 0.5;
    position: absolute;

    &:hover {
      opacity: 1;
    }

    .zoomButton {
      padding-right: 5px;
      color: $grey14;
      fill: $grey14;

      &:hover {
        color: $grey10;
        fill: $grey10;
      }
    }
  }



