.thrower-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto;
    text-align: center;

    .thrower-item {
        padding-top: 20px;
    }

    .item1 {
        width: 30%;
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        display: grid;
        grid-template-columns: auto auto;

        .type-title {
            grid-column: 1 / 2
        }

        .type-select {
            margin-top: -5px;
            grid-column: 2 / 3;
        }
    }

    .item2 {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: 20% 80%;
        
        .power-title {
            grid-column: 1 / 2;
        }

        .power-slider {
            margin-top: 5px;
            grid-column: 2 /3;
        }
    }

    .power-output {
        font-size: smaller;
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }
}

