.thrower-container {

    .thrower-item {
        padding-top: 20px;
    }

    .item1 {
        width: 30%;
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        display: grid;
        grid-template-columns: auto auto;

        .type-title {
            padding-right: 10px;
            display: inline-block;
        }

        .type-select {
            display: inline-block;
            margin-top: -5px;
            width: 150px;
        }
    }

    .item2 {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: 1fr 5fr;
        
        .power-title {
            grid-column: 1 / 2;
        }

        .power-slider {
            margin-top: 5px;
            grid-column: 2 /3;
        }
    }

    .power-output {
        margin-top: -20px;
        font-size: smaller;
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }
}

