@import "variables/variable--colors";
@import "bag";
@import "displayOptions";
@import "importExport";
@import "layout";
@import "rangeslider";
@import "similarDisc";
@import "thrower";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Open+Sans|Skranji');

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: 'Do Hyeon', 'Skranji', 'Open Sans', sans-serif;
}

.title-block {
  padding: 5px 0;
  border-bottom: 1px solid $grey04;
  font-size: larger;
  font-weight: bolder;
}

/* Color Fills */
/* Primary Colors */
.redFill {
  color: $red10;
  fill: $red10;

  &:hover {
    color: $red14;
    fill: $red14;
  }
}

.redBack { 
  background-color: $red15;
}

.blueFill {
  color: $blue10;
  fill: $blue10;

  &:hover {
    color: $turquoise14;
    fill: $turquoise14;
  }
}

.blueBack {
  background-color: $blue15;
}

.yellowFill {
  color: $yellow10;
  fill: $yellow10;

  &:hover {
    color: $yellow14;
    fill: $yellow14;
  }
}

.yellowBack {
  background-color: $yellow15;
}

/* Secondary Colors */
.greenFill {
  color: $green10;
  fill: $green10;

  &:hover {
    color: $green14;
    fill: $green14;
  }
}

.greenBack {
  background-color: $green15;
}

.purpleFill {
  color: $purple10;
  fill: $purple10;

  &:hover {
    color: $purple14;
    fill: $purple14;
  }
}

.purpleBack {
  background-color: $purple15;
}

.orangeFill {
  color: $orange10;
  fill: $orange10;

  &:hover {
    color: $orange14;
    fill: $orange14;
  }
}

.orangeBack {
  background-color: $orange15;
}

/* Tertiary Colors */
.magentaFill {
  color: $magenta10;
  fill: $magenta10;

  &:hover {
    color: $magenta14;
    fill: $magenta14;
  }
}

.magentaBack {
  background-color: $magenta15;
}

.vermillionFill {
  color: $vermillion10;
  fill: $vermillion10;

  &:hover {
    color: $vermillion14;
    fill: $vermillion14;
  }
}

.vermillionBack {
  background-color: $vermillion15;
}

.amberFill {
  color: $amber10;
  fill: $amber10;

  &:hover {
    color: $amber14;
    fill: $amber14;
  }
}

.amberBack {
  background-color: $amber15;
}

.chartreuseFill {
  color: $chartreuse10;
  fill: $chartreuse10;

  &:hover {
    color: $chartreuse14;
    fill: $chartreuse14;
  }
}

.chartreuseBack {
  background-color: $chartreuse15;
}

.tealFill {
  color: $teal10;
  fill: $teal10;

  &:hover {
    color: $teal14;
    fill: $teal14;
  }
}

.tealBack {
  background-color: $teal15;
}

.violetFill {
  color: $violet10;
  fill: $violet10;

  &:hover {
    color: $violet14;
    fill: $violet14;
  }
}

.violetBack {
  background-color: $violet15;
}

/* Hues */
.greyFill {
  color: $grey04;
  fill: $grey04;

  &:hover {
    color: $grey10;
    fill: $grey10;
  }
}

.fa-close-icon {
  float: right;  
  z-index: '100';
}
