// monochromes 
$gray00: #000000;
$gray01: #111111;
$gray02: #222222;
$gray03: #333333;
$gray04: #444444;
$gray05: #555555;
$gray06: #666666;
$gray07: #777777;
$gray08: #888888;
$gray09: #999999;
$gray10: #aaaaaa;
$gray11: #bbbbbb;
$gray12: #cccccc;
$gray13: #dddddd;
$gray14: #eeeeee;
$gray15: #ffffff;

$grey00: $gray00;
$grey01: $gray01;
$grey02: $gray02;
$grey03: $gray03;
$grey04: $gray04;
$grey05: $gray05;
$grey06: $gray06;
$grey07: $gray07;
$grey08: $gray08;
$grey09: $gray09;
$grey10: $gray10;
$grey11: $gray11;
$grey12: $gray12;
$grey13: $gray13;
$grey14: $gray14;
$grey15: $gray15;

// primary colors
// red gradients
$red01: #490000;
$red02: #560000;
$red03: #630000;
$red04: #700000;
$red05: #7D0000;
$red06: #8A0000;
$red07: #970000;
$red08: #A40000;
$red09: #B10000;
$red10: #BE0000;
$red11: #CB0000;
$red12: #D80000;
$red13: #E50000;
$red14: #F20000;
$red15: #FF0000;

// yello gradients
$yellow01: #494900;
$yellow02: #565600;
$yellow03: #636300;
$yellow04: #707000;
$yellow05: #7D7D00;
$yellow06: #8A8A00;
$yellow07: #979700;
$yellow08: #A4A400;
$yellow09: #B1B100;
$yellow10: #BEBE00;
$yellow11: #CBCB00;
$yellow12: #D8D800;
$yellow13: #E5E500;
$yellow14: #F2F200;
$yellow15: #FFFF00; 

// blue gradients
$blue01: #000049;
$blue02: #000056;
$blue03: #000063;
$blue04: #000070;
$blue05: #00007D;
$blue06: #00008A;
$blue07: #000097;
$blue08: #0000A4;
$blue09: #0000B1;
$blue10: #0000BE;
$blue11: #0000CB;
$blue12: #0000D8;
$blue13: #0000E5;
$blue14: #0000F2;
$blue15: #0000FF;

// secondary colors
// purple gradients
$purple01: #240049;
$purple02: #2A0056;
$purple03: #310063;
$purple04: #370070;
$purple05: #3D007D;
$purple06: #44008A;
$purple07: #4A0097;
$purple08: #5000A4;
$purple09: #5700B1;
$purple10: #5D00BE;
$purple11: #6400CB;
$purple12: #6A00D8;
$purple13: #7000E5;
$purple14: #7700F2;
$purple15: #7D00FF;

// green gradients
$green01: #004900;
$green02: #005600;
$green03: #006300;
$green04: #007000;
$green05: #007D00;
$green06: #008A00;
$green07: #009700;
$green08: #00A400;
$green09: #00B100;
$green10: #00BE00;
$green11: #00CB00;
$green12: #00D800;
$green13: #00E500;
$green14: #00F200;
$green15: #00FF00;

// orange gradients
$orange01: #492400;
$orange02: #562A00;
$orange03: #633100;
$orange04: #703700;
$orange05: #7D3D00;
$orange06: #8A4400;
$orange07: #974A00;
$orange08: #A45000;
$orange09: #B15700;
$orange10: #BE5D00;
$orange11: #CB6400;
$orange12: #D86A00;
$orange13: #E57000;
$orange14: #F27700;
$orange15: #FF7D00;

// tertiary colors
// chartreuse (yellow-green) gradients
$chartreuse01: #2C3C00;
$chartreuse02: #354900;
$chartreuse03: #3E5600;
$chartreuse04: #486300;
$chartreuse05: #517000;
$chartreuse06: #5B7D00;
$chartreuse07: #648A00;
$chartreuse08: #6E9700;
$chartreuse09: #77A400;
$chartreuse10: #80B100;
$chartreuse11: #8ABE00;
$chartreuse12: #93CB00;
$chartreuse13: #9DD800;
$chartreuse14: #A6E500;
$chartreuse15: #B0F200;

// teal gradients
$teal01: #004949;
$teal02: #005656;
$teal03: #006363;
$teal04: #007070;
$teal05: #007D7D;
$teal06: #008A8A;
$teal07: #009797;
$teal08: #00A4A4;
$teal09: #00B1B1;
$teal10: #00BEBE;
$teal11: #00CBCB;
$teal12: #00D8D8;
$teal13: #00E5E5;
$teal14: #00F2F2;
$teal15: #00FFFF;

// amber gradients
$amber01: #493500;
$amber02: #563E00;
$amber03: #634800;
$amber04: #705100;
$amber05: #7D5B00;
$amber06: #8A6400;
$amber07: #976E00;
$amber08: #A47700;
$amber09: #B18000;
$amber10: #BE8A00;
$amber11: #CB9300;
$amber12: #D89D00;
$amber13: #E5A600;
$amber14: #F2B000;
$amber15: #FFB900;

// magenta gradients
$magenta01: #490049;
$magenta02: #560056;
$magenta03: #630063;
$magenta04: #700070;
$magenta05: #7D007D;
$magenta06: #8A008A;
$magenta07: #970097;
$magenta08: #A400A4;
$magenta09: #B100B1;
$magenta10: #BE00BE;
$magenta11: #CB00CB;
$magenta12: #D800D8;
$magenta13: #E500E5;
$magenta14: #F200F2;
$magenta15: #FF00FF;

// violet gradients
$violet01: #350049;
$violet02: #3E0056;
$violet03: #480063;
$violet04: #510070;
$violet05: #5B007D;
$violet06: #64008A;
$violet07: #6E0097;
$violet08: #7700A4;
$violet09: #8000B1;
$violet10: #8A00BE;
$violet11: #9300CB;
$violet12: #9D00D8;
$violet13: #A600E5;
$violet14: #B000F2;
$violet15: #B900FF;

// vermillion gradients
$vermillion01: #491200;
$vermillion02: #561500;
$vermillion03: #631800;
$vermillion04: #701B00;
$vermillion05: #7D1E00;
$vermillion06: #8A2200;
$vermillion07: #972500;
$vermillion08: #A42800;
$vermillion09: #B12B00;
$vermillion10: #BE2E00;
$vermillion11: #CB3100;
$vermillion12: #D83500;
$vermillion13: #E53800;
$vermillion14: #F23B00;
$vermillion15: #FF3E00;
