// monochromes 
$gray00: #000000;
$gray01: #111111;
$gray02: #222222;
$gray03: #333333;
$gray04: #444444;
$gray05: #555555;
$gray06: #666666;
$gray07: #777777;
$gray08: #888888;
$gray09: #999999;
$gray10: #aaaaaa;
$gray11: #bbbbbb;
$gray12: #cccccc;
$gray13: #dddddd;
$gray14: #eeeeee;
$gray15: #ffffff;

$grey00: $gray00;
$grey01: $gray01;
$grey02: $gray02;
$grey03: $gray03;
$grey04: $gray04;
$grey05: $gray05;
$grey06: $gray06;
$grey07: $gray07;
$grey08: $gray08;
$grey09: $gray09;
$grey10: $gray10;
$grey11: $gray11;
$grey12: $gray12;
$grey13: $gray13;
$grey14: $gray14;
$grey15: $gray15;

// primary colors
// red gradients
$red01: #110000;
$red02: #220000;
$red03: #330000;
$red04: #440000;
$red05: #550000;
$red06: #660000;
$red07: #770000;
$red08: #880000;
$red09: #990000;
$red10: #aa0000;
$red11: #bb0000;
$red12: #cc0000;
$red13: #dd0000;
$red14: #ee0000;
$red15: #ff0000;

// yello gradients
$yellow01: #111100;
$yellow02: #222200;
$yellow03: #333300;
$yellow04: #444400;
$yellow05: #555500;
$yellow06: #666600;
$yellow07: #777700;
$yellow08: #888800;
$yellow09: #999900;
$yellow10: #aaaa00;
$yellow11: #bbbb00;
$yellow12: #cccc00;
$yellow13: #dddd00;
$yellow14: #eeee00;
$yellow15: #ffff00; 

// blue gradients
$blue01: #000011;
$blue02: #000022;
$blue03: #000033;
$blue04: #000044;
$blue05: #000055;
$blue06: #000066;
$blue07: #000077;
$blue08: #000088;
$blue09: #000099;
$blue10: #0000aa;
$blue11: #0000bb;
$blue12: #0000cc;
$blue13: #0000dd;
$blue14: #0000ee;
$blue15: #0000ff;

// secondary colors
// purple gradients
$purple01: #110011;
$purple02: #220022;
$purple03: #330033;
$purple04: #440044;
$purple05: #550055;
$purple06: #660066;
$purple07: #770077;
$purple08: #880088;
$purple09: #990099;
$purple10: #aa00aa;
$purple11: #bb00bb;
$purple12: #cc00cc;
$purple13: #dd00dd;
$purple14: #ee00ee;
$purple15: #ff00ff;

// green gradients
$green01: #001100;
$green02: #002200;
$green03: #003300;
$green04: #004400;
$green05: #005500;
$green06: #006600;
$green07: #007700;
$green08: #008800;
$green09: #009900;
$green10: #00aa00;
$green11: #00bb00;
$green12: #00cc00;
$green13: #00dd00;
$green14: #00ee00;
$green15: #00ff00;

// orange gradients
$orange01: #100800;
$orange02: #221000;
$orange03: #331800;
$orange04: #442000;
$orange05: #552800;
$orange06: #663000;
$orange07: #773800;
$orange08: #884000;
$orange09: #994800;
$orange10: #aa5000;
$orange11: #bb5800;
$orange12: #cc6000;
$orange13: #dd6800;
$orange14: #ee7000;
$orange15: #ff7800;

// tertiary colors
// lime (yellow-green) gradients
$lime01: #081100;
$lime02: #102200;
$lime03: #183300;
$lime04: #204400;
$lime05: #285500;
$lime06: #306600;
$lime07: #387700;
$lime08: #408800;
$lime09: #489900;
$lime10: #50aa00;
$lime11: #58bb00;
$lime12: #60cc00;
$lime13: #68dd00;
$lime14: #70ee00;
$lime15: #78ff00;


// teal gradients
$teal01: #001108;
$teal02: #002210;
$teal03: #003318;
$teal04: #004420;
$teal05: #005528;
$teal06: #006630;
$teal07: #007738;
$teal08: #008840;
$teal09: #009948;
$teal10: #00aa50;
$teal11: #00bb58;
$teal12: #00cc60;
$teal13: #00dd68;
$teal14: #00ee70;
$teal15: #00ff78;

// turquoise gradients
$turquoise01: #001111;
$turquoise02: #002222;
$turquoise03: #003333;
$turquoise04: #004444;
$turquoise05: #005555;
$turquoise06: #006666;
$turquoise07: #007777;
$turquoise08: #008888;
$turquoise09: #009999;
$turquoise10: #00aaaa;
$turquoise11: #00bbbb;
$turquoise12: #00cccc;
$turquoise13: #00dddd;
$turquoise14: #00eeee;
$turquoise15: #00ffff;

// periwinkle gradients
$periwinkle01: #000811;
$periwinkle02: #001022;
$periwinkle03: #001833;
$periwinkle04: #002044;
$periwinkle05: #002855;
$periwinkle06: #003066;
$periwinkle07: #003877;
$periwinkle08: #004088;
$periwinkle09: #004899;
$periwinkle10: #0050aa;
$periwinkle11: #0058bb;
$periwinkle12: #0060cc;
$periwinkle13: #0068dd;
$periwinkle14: #0070ee;
$periwinkle15: #0078ff;

// violet gradients
$violet01: #080011;
$violet02: #100022;
$violet03: #180033;
$violet04: #200044;
$violet05: #280055;
$violet06: #300066;
$violet07: #380077;
$violet08: #400088;
$violet09: #480099;
$violet10: #5000aa;
$violet11: #5800bb;
$violet12: #6000cc;
$violet13: #6800dd;
$violet14: #7000ee;
$violet15: #7800ff;

// rose gradients
$rose01: #110008;
$rose02: #220010;
$rose03: #330018;
$rose04: #440020;
$rose05: #550028;
$rose06: #660030;
$rose07: #770038;
$rose08: #880040;
$rose09: #990048;
$rose10: #aa0050;
$rose11: #bb0058;
$rose12: #cc0060;
$rose13: #dd0068;
$rose14: #ee0070;
$rose15: #ff0078;
