// Monochromes 
$gray00: #000000;
$gray01: #111111;
$gray02: #222222;
$gray03: #333333;
$gray04: #444444;
$gray05: #555555;
$gray06: #666666;
$gray07: #777777;
$gray08: #888888;
$gray09: #999999;
$gray10: #AAAAAA;
$gray11: #BBBBBB;
$gray12: #CCCCCC;
$gray13: #DDDDDD;
$gray14: #EEEEEE;
$gray15: #FFFFFF;

$grey00: $gray00;
$grey01: $gray01;
$grey02: $gray02;
$grey03: $gray03;
$grey04: $gray04;
$grey05: $gray05;
$grey06: $gray06;
$grey07: $gray07;
$grey08: $gray08;
$grey09: $gray09;
$grey10: $gray10;
$grey11: $gray11;
$grey12: $gray12;
$grey13: $gray13;
$grey14: $gray14;
$grey15: $gray15;

// Primary Colors
// Red Gradients
$red01: #110000;
$red02: #220000;
$red03: #330000;
$red04: #440000;
$red05: #550000;
$red06: #660000;
$red07: #770000;
$red08: #880000;
$red09: #990000;
$red10: #AA0000;
$red11: #BB0000;
$red12: #CC0000;
$red13: #DD0000;
$red14: #EE0000;
$red15: #FF0000;

// Yello Gradients
$yellow01: #111100;
$yellow02: #222200;
$yellow03: #333300;
$yellow04: #444400;
$yellow05: #555500;
$yellow06: #666600;
$yellow07: #777700;
$yellow08: #888800;
$yellow09: #999900;
$yellow10: #AAAA00;
$yellow11: #BBBB00;
$yellow12: #CCCC00;
$yellow13: #DDDD00;
$yellow14: #EEEE00;
$yellow15: #FFFF00; 

// Blue Gradients
$blue01: #000011;
$blue02: #000022;
$blue03: #000033;
$blue04: #000044;
$blue05: #000055;
$blue06: #000066;
$blue07: #000077;
$blue08: #000088;
$blue09: #000099;
$blue10: #0000AA;
$blue11: #0000BB;
$blue12: #0000CC;
$blue13: #0000DD;
$blue14: #0000EE;
$blue15: #0000FF;

// Secondary Colors
// Purple Gradients
$purple01: #110011;
$purple02: #220022;
$purple03: #330033;
$purple04: #440044;
$purple05: #550055;
$purple06: #660066;
$purple07: #770077;
$purple08: #880088;
$purple09: #990099;
$purple10: #AA00AA;
$purple11: #BB00BB;
$purple12: #CC00CC;
$purple13: #DD00DD;
$purple14: #EE00EE;
$purple15: #FF00FF;

// Green Gradients
$green01: #001100;
$green02: #002200;
$green03: #003300;
$green04: #004400;
$green05: #005500;
$green06: #006600;
$green07: #007700;
$green08: #008800;
$green09: #009900;
$green10: #00AA00;
$green11: #00BB00;
$green12: #00CC00;
$green13: #00DD00;
$green14: #00EE00;
$green15: #00FF00;

// Orange Gradients
$orange01: #100800;
$orange02: #221000;
$orange03: #331800;
$orange04: #442000;
$orange05: #552800;
$orange06: #663000;
$orange07: #773800;
$orange08: #884000;
$orange09: #994800;
$orange10: #AA5000;
$orange11: #BB5800;
$orange12: #CC6000;
$orange13: #DD6800;
$orange14: #EE7000;
$orange15: #FF7800;

// Tertiary Colors
// Lime (Yellow-Green) Gradients
$lime01: #081100;
$lime02: #102200;
$lime03: #183300;
$lime04: #204400;
$lime05: #285500;
$lime06: #306600;
$lime07: #387700;
$lime08: #408800;
$lime09: #489900;
$lime10: #50AA00;
$lime11: #58BB00;
$lime12: #60CC00;
$lime13: #68DD00;
$lime14: #70EE00;
$lime15: #78FF00;


// Teal Gradients
$teal01: #001108;
$teal02: #002210;
$teal03: #003318;
$teal04: #004420;
$teal05: #005528;
$teal06: #006630;
$teal07: #007738;
$teal08: #008840;
$teal09: #009948;
$teal10: #00AA50;
$teal11: #00BB58;
$teal12: #00CC60;
$teal13: #00DD68;
$teal14: #00EE70;
$teal15: #00FF78;

// Turquoise Gradients
$turquoise01: #001111;
$turquoise02: #002222;
$turquoise03: #003333;
$turquoise04: #004444;
$turquoise05: #005555;
$turquoise06: #006666;
$turquoise07: #007777;
$turquoise08: #008888;
$turquoise09: #009999;
$turquoise10: #00AAAA;
$turquoise11: #00BBBB;
$turquoise12: #00CCCC;
$turquoise13: #00DDDD;
$turquoise14: #00EEEE;
$turquoise15: #00FFFF;

// Periwinkle Gradients
$periwinkle01: #000811;
$periwinkle02: #001022;
$periwinkle03: #001833;
$periwinkle04: #002044;
$periwinkle05: #002855;
$periwinkle06: #003066;
$periwinkle07: #003877;
$periwinkle08: #004088;
$periwinkle09: #004899;
$periwinkle10: #0050AA;
$periwinkle11: #0058BB;
$periwinkle12: #0060CC;
$periwinkle13: #0068DD;
$periwinkle14: #0070EE;
$periwinkle15: #0078FF;

// Violet Gradients
$violet01: #080011;
$violet02: #100022;
$violet03: #180033;
$violet04: #200044;
$violet05: #280055;
$violet06: #300066;
$violet07: #380077;
$violet08: #400088;
$violet09: #480099;
$violet10: #5000AA;
$violet11: #5800BB;
$violet12: #6000CC;
$violet13: #6800DD;
$violet14: #7000EE;
$violet15: #7800FF;

// Rose Gradients
$rose01: #110008;
$rose02: #220010;
$rose03: #330018;
$rose04: #440020;
$rose05: #550028;
$rose06: #660030;
$rose07: #770038;
$rose08: #880040;
$rose09: #990048;
$rose10: #AA0050;
$rose11: #BB0058;
$rose12: #CC0060;
$rose13: #DD0068;
$rose14: #EE0070;
$rose15: #FF0078;
