@import "./sass/bag.scss";
@import "./sass/displayOptions.scss";
@import "./sass/layout.scss";
@import "./sass/thrower.scss";
@import "./sass/importExport.scss";

.title-block {
  border-bottom: 1px solid grey;
  font-weight: bolder;
  font-size: larger;
  padding: 5px 0;
}