@import "./sass/bag.scss";
@import "./sass/displayOptions.scss";
@import "./sass/layout.scss";
@import "./sass/thrower.scss";
@import "./sass/importExport.scss";
@import "./sass/rangeslider.scss";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Open+Sans|Skranji');

body {
  font-family: 'Do Hyeon', 'Skranji', 'Open Sans', sans-serif;
}

.title-block {
  border-bottom: 1px solid grey;
  font-weight: bolder;
  font-size: larger;
  padding: 5px 0;
}
